<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MexaCode</title>
    <link href="css/estilos.min.css" rel="stylesheet" />
    <link href="lib/sweetalert/dist/sweetalert.css" rel="stylesheet" />
</head>


<body>
    <div id="fondo">
        <header id="header">


            <div id="header-inner">

                <div id="logo-cont">

                    <img src="images/mexacodergb.jpg" id="logo">

                </div>

                <nav id="nav">

                    <ul id="menu">

                        <li class="list1"> <a href="#"> INICIO </a> </li>
                        <li class="list1"> <a href="#scroll"> QUIÉNES SOMOS </a> </li>
                        <li class="list1"> <a href="#scroll2"> SERVICIOS </a> </li>
                        <li class="list1"> <a href="#scroll6"> CONTACTO </a> </li>

                    </ul>

                </nav>

            </div>

        </header>

        <div id="superior">


        </div>


        <section id="wrap1">

            <section id="seccion1" class="opciones">


                <img src="images/1.png" id="img1">

                <h1 id="encabezado">
                    <span>
                        Creamos experiencias únicas<br> a través de <span id="textoazul"> soluciones de TI </span> <br>para que su empresa sea cada vez mejor.
                    </span>
                </h1>

            </section>


            <section id="scroll" class="cuadros">

                <h2 id="enca1" class="h">Quiénes somos</h2>

                <section id="text1">

                    <p id="somos"> MexaCode Solutions es una empresa mexicana establecida en Guadalajara, Jalisco. Nuestro equipo de trabajo se compone por profesionales talentosos que están al tanto de las nuevas tendencias de TI y que se esfuerzan por brindarle al cliente no sólo un servicio, sino una experiencia de colaboración inigualable.</p>

                </section>

                <section id="cajaimg">

                    <img src="images/2.jpg" id="img2">

                </section>

            </section>

            <section id="scroll2" class="cuadros">

                <h2 id="enca2" class="h">Servicios</h2>


                <article id="medida" class="serv" onclick="location.href='#scroll3'">

                    <p><h3 id="medida-tit" class="h3">Software hecho a la medida</h3></p>

                    <img src="images/icon1.png" class="icons">


                </article>

                <article id="out" class="serv" onclick="location.href='#scroll4'">

                    <p><h3 id="out-tit" class="h3">Outsourcing o equipos de trabajo extendidos</h3></p>

                    <img src="images/icon2.png" class="icons">


                </article>

                <article id="app" class="serv" onclick="location.href='#scroll5'">

                    <p><h3 id="app-tit" class="h3">Aplicaciones<br> móviles</h3></p>

                    <img src="images/icon3.png" class="icons">



                </article>


            </section>

            <section id="scroll3" class="cuadros">

                <h4 id="servicios-titulo1" class="h4">Software hecho a la medida</h4>

                <section id="cajafoto3">

                    <img src="images/3.jpg" id="foto3">

                </section>


                <section id="cajatexto1">


                    <p> Con nosotros podrás hacer realidad el software que necesitas para cubrir completamente tus necesidades.</p>
                    <p> Trabajamos de manera ágil y te entregamos tu producto y el código que lo genera, para que te sea más fácil hacer modificaciones en un futuro. Además, te ofrecemos una excelente relación costo-beneficio, para que tu producto sea una gran inversión.</p>

                </section>


            </section>

            <section id="scroll4" class="cuadros">

                <h4 id="servicios-titulo2" class="h4">Outsourcing o equipos de trabajo extendidos</h4>


                <section id="cajatexto2">


                    <p> Te ofrecemos equipos de profesionales con la experiencia en el área que te interesa durante el tiempo que necesites para que lleves a cabo tus proyectos, contando con nuestro respaldo en todo momento.</p>
                    <p> Recibirás reportes periódicos detallando el uso del tiempo de tu equipo y podrás estar en contacto constante con ellos.</p>

                </section>

                <section id="cajafoto4">

                    <img src="images/4.jpg" id="foto4">

                </section>



            </section>

            <section id="scroll5" class="cuadros">

                <h4 id="servicios-titulo3" class="h4">Aplicaciones móviles</h4>


                <section id="cajatexto3">


                    <p> Te ayudamos a lograr tus objetivos mediante el desarrollo de aplicaciones móviles para distintas plataformas, lo que te permite acceder a opciones sin límite.</p>
                    <p>
                        <ul>
                            <li>Mayor penetración en el mercado</li>
                            <li>Tener el control de su negocio en todo lugar y a cualquier hora</li>
                            <li>Mejor relación con sus clientes</li>
                            <li>Agilizar procesos e interactuar con personal, proveedores, etc.</li>
                        </ul>
                    </p>


                </section>

                <section id="cajafoto5">

                    <img src="images/5.jpg" id="foto5">

                </section>

            </section>



            <section id="scroll6" class="cuadros">

                <h2 id="enca3" class="h">Contacto</h2>


                <section id="cajacontacto">

                    <h5 id="h5"><span>Acércate a nosotros,</span> mándanos un email o llámanos.</h5>


                    <h6 class="con">Dirección.</h6>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <h6 class="con">Teléfono.</h6>

                </section>




                <form id="contactForm" name="contactForm" role="form" method="post"
                      novalidate
                      ng-app="mexacodeApp"
                      ng-controller="contactUsController"
                      ng-submit="sendEmail()">
                    <ul>
                        <li><label>Empresa</label></li>

                        <li>
                            <input ng-model="empresa" required id="nombre-empresa" class="input-con" name="nombre-empresa" placeholder="El nombre de tu empresa" data-title="Esta información es necesaria" type="text">
                        </li>

                        <li><label>Nombre</label></li>

                        <li>
                            <input ng-model="nombre" id="nombre" class="input-con" name="nombre" placeholder="Tu nombre completo" data-title="Esta información es necesaria" type="text">
                        </li>

                        <li><label>Correo</label></li>

                        <li>
                            <input ng-model="email" id="correo" class="input-con" name="correo" placeholder="Tu correo electrónico" data-title="Se requiere una dirección de correo válida" data-regexp="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" type="text">
                        </li>

                        <li><label>Asunto</label></li>

                        <li>
                            <input ng-model="asunto" id="asunto" class="input-con" name="asunto" placeholder="Asunto" data-title="Esta información es necesaria" type="text">
                        </li>

                        <li><label>Mensaje</label></li>

                        <li><textarea ng-model="mensaje" id="mensaje" class="input-con" name="mensaje" placeholder="Tu mensaje" data-title="Esta información es necesaria"></textarea></li>

                        <li><input id="boton-enviar" type="submit" value="Enviar" class="button"></li>
                    </ul>
                </form>
            </section>
        </section>
        <footer id="pie">
            <br>
            &copy 2017 MexaCode Solutions. Derechos reservados.
        </footer>
    </div>

    <script src="js/vendors/vendors.min.js"></script>
    <script src="js/app/app.min.js"></script>
</body>
</html>

